<div class="app">
  <img class="bg" src="assets/bg.jpg">
  <div class="container">
    <img class="pic" src="assets/pic.png">
    <div>
      <h1>Hello</h1>
      <h2>My name is Aravind Marri</h2>
      <p>I am now getting my master's degree in computer science at <a href="https://usd.edu/"
        target="_blank"><span>USD</span></a> and working for the CDE department as a Graduate Administrative Assistant. I have real-time industry experience in <a href="https://gsstech.in/"
          target="_blank"><span>GSSTech</span></a> as a UX&UI Designer and Web Developer. As a part of my
        responsibilities, I am responsible for delivering high-quality results in the User Journey and User Experience, as
        well as the development of user-friendly, fast, and responsive web pages using WordPress, Angular, Blazor and
        .NET.
        <br>
        Besides being a full-time developer, I'm also a part-time photographer. I used to take pictures for no reason at
        all.
        <br><br>
        If you happen to speak Telugu, my Telugu name is అరవింద్.
        <br><br>
        Outside of programming and photography, I enjoy video games, tackling challenges, traveling, and cooking.
      </p>
      <span>Contact : <a href="mailto:contact@aravindmarri.com"><span>Aravind Marri</span></a></span><br>
      <span>Blogs by <a href="https://blogs.aravindmarri.com" target="_blank"><span>Aravind</span></a></span>
    </div>
  </div>
  <div class="social">
    <div>
      <a icon *ngFor="let item of socialArray" id="{{item.id}}" href="{{item.url}}" target="_blank">
        <img src="assets/icons/{{item.name}}.svg" alt="{{item.name}}">
      </a>
    </div>
  </div>
</div>
