<div class="app">
  <img class="bg" src="assets/bg.jpg">
  <div class="container">
    <img class="pic" src="assets/pic.png">
    <div>
      <h1>Hello</h1>
      <h2>My name is Aravind Marri</h2>
      <p>Since January 2021, I have been working for <a href="https://gsstech.in/" target="_blank"><span>GSSTech</span></a> as an UX&UI Designer and Web Developer. As a part of my responsibilities, I am responsible for delivering high-quality results in User Journey and User Experience, as well as the development of user-friendly, fast and responsive web pages using Wordpress, Angular, and Blazor.
        <br>
        Besides being a full-time developer, I'm also a part-time photographer. I used to take pictures for no reason at all. 
        <br><br>
        If you happen to speak Telugu, my Telugu name is అరవింద్.
        <br><br>
        Outside of programming and photography, I enjoy video games, tackling challenges, traveling and cooking.</p>
      <span>Contact : <a href="mailto:contact@aravindmarri.com"><span>Aravind Marri</span></a></span>
    </div>
  </div>
  <div class="social">
    <div>
      <a icon *ngFor="let item of socialArray" id="{{item.id}}" href="{{item.url}}" target="_blank">
        <img  src="assets/icons/{{item.name}}.svg" alt="{{item.name}}">
      </a>
    </div>
  </div>
</div>